<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    {{#if proposta._id}}
    <div style="width: 100%;">
        <h5 class="header">{{cliente.nome}} </h5>
        <h5 class="header">Responsável: {{responsavel.nome}} </h5>
    </div>
    {{/if}}

    <input type="hidden" name="id" value='{{proposta._id}}'>


    <div class='row'>
        <div class="col">
            <label class='col-form-label'></label>
        </div>
        <div class="col">
            <label class='col-form-label'></label>
        </div>
        <div class="col">
            <label class='col-form-label'></label>
        </div>                
    </div>

</div>