<nav {{#if user}}id='menu-fixo-user' {{else}}id='menu-fixo' {{/if}} class='navbar navbar-expand-lg' style="position: fixed;z-index: 999;text-decoration: none;width: 100%;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-flex justify-content-end">
      <!-- Default dropstart button -->
      {{#if user}}
      <div class="dropstart">
        <button class="filter" data-bs-toggle="dropdown" aria-expanded="false"><i class='bi bi-filter'></i>
        </button>
        <ul class="dropdown-menu">
          <a href='/projeto/novo' class="botao-filter"><i class="bi bi-file-arrow-up"></i> Novo Projeto</a><br>
          <a href='/projeto/consulta' class="botao-filter"><i class="bi bi-search"></i> Busca Projeto</a><br>
          <a href='/menu' class="botao-filter"><i class='bi bi-menu-button-wide'></i> Menu</a><br>
          <a href='/logout' class="botao-filter">Sair</a>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div>