<style type="text/css">
  .botao {
    height: 30px;
    width: 100px;
    margin-left: 28px;
    text-decoration: none;
    border-radius: 10px;
    color: rgb(11, 19, 58, 1);
  }

  .botao:hover {
    height: 30px;
    width: 120px;
    background: linear-gradient(45deg, rgb(62, 81, 177), rgb(11, 19, 58, 1), rgb(11, 19, 58, 1));
    color: white;
    border: solid 1px;
    border-color: rgb(155, 155, 155);
    border-radius: 10px;
    text-decoration: none;
  }

  .entrada {
    text-align: center;
    margin-left: 5px;
    width: 130px;
    height: 569px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
  }

  .titulo {
    font-size: 15px;
    font-family: 'Segoe UI';
  }
</style>

<div
  style="background-color: rgb(0,120,255,0.05);background-image: url(fundosite.png); background-repeat: no-repeat; height: 100%; width: 100%; position: absolute;">
  <img src="vimmus.png" width="80px" style="margin-top: 20px; margin-left: 610px;border-radius: 80px;" />
  <div style="width: 300px; height: 50px;margin-left: 500px;">
    <div class="card mt-4">
      <div class="card-body">
        <h6 class="text-center">Login</h6>
        <form action="/usuario/login" method="post">
          <label class='col-form-label col-form-label-sm' for="email">Usuario: </label>
          <input name="usuario" class="form-control form-control-sm">
          <label class='col-form-label col-form-label-sm' for="senha">Senha: </label>
          <input type="password" name="senha" class="form-control form-control-sm">
          <br><button type="submit" class="btn btn-success mx-auto col-12"> Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>