<div style="width: 100%; height: fit;text-align: center;background: white;padding: 10px;color: white;">
    <div class='row' style="width: 100%;">
        <div class='col-md-8'>
            <div style="margin-left: 7%;color: rgb(40,55,89);">
                <h4 style="color: rgb(40,55,89);margin-left: 7%;"> A planilha da VIMMUS de simulação de geração e cálculo financeiro tem o objetivo de facilitar o entendimento sobre a economia que 
                    a aquisição de um sistema solar fotovoltaico poderá proporcionar para o consumidor final a partir das informações do dimensionamento, fluxo de caixa, simulação de financiamento, VPL, TIR, ROI e payback.</h4>
                    <h4>Deste modo, estamos diponibilizando gratuitamente nossa planilha, para empresas ou pessoas, que tenham interesse sobre ter uma visão econômica e financeira de um sistema solar fotovoltaico.</h4>
                    <h4>Para tanto, será necessário cadastrar seu e-mail e telefone para conseguirmos enviar para você, em primeira mão, a planilha financeira para o cálculo de viabilidade econômica e financeira de projetos de energia solar mais completa do mercado.</h4>
                    <p>Obs: Neste momento estamos disponibilizando a versão de simulação para o estado de Santa Catarina.</p>
                <p>
                    <label class='col-form-label col-form-label-sm'>Entre em contato pelo
                        WhatsApp:</label><label class='fw-bold col-form-label col-form-label-sm'> <label> </label> (49)
                        9
                        9183-2978 </label> <label class='col-form-label col-form-label-sm'>ou envie um e-mail
                        para</label><label class='fw-bold col-form-label col-form-label-sm'><label> </label>
                        solucoes@vimmus.com.br.</label>
                    <label class='col-form-label col-form-label-sm'>Se preferir informe seus dados no quadro
                        ao lado que entraremos em contato.</label>
            </div>
        </div>
        <div class='col-md-4 mt-1' style="padding-right: 60px;">
            <input type="text" name='nome' placeholder="Nome" class="form-control form-control-sm mb-1">
            <input type="email" placeholder="E-mail" name='email' class="form-control form-control-sm mb-1">
            <input type="text" class="form-control form-control-sm mb-1" name='celular' id='celular'
                placeholder="Número do Telefone" maxlength="16" autocomplete="off" onkeyup="valida_celular()">
            <button type='submit' class='btn btn-sm btn-success col-12'>Enviar</button>
        </div>
    </div>
</div>