<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" style="color: black" href="/termo">Termos de Uso</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/politica">Políticas de Privacidade</a>
  </li>
</ul>