<div style="background-color: #847AF4; padding: 20px;margin-top: 20px;">
<div class="row" style="margin-top: 150px;margin-bottom: 150px;">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">Gerenciamento Ponta-a-Ponta</h5>
        <p class="card-text">Aqui o projeto será criado a partir da gestão, passando pelos recursos, até a alocação de horas das atividades do projetista, com foco no lançamento detalhado dos custos. Será gerado um cronograma com a opção de atribuir manualmente os gestores, instaladores, projetistas e eletrecistas por cada atividade do projeto. Também será possível selecionar o tipo de projeto (direto ou próprio) e a modalidade de cálculo de custo (dia ou hora).</p>
        <a href="/projeto/novo" class="btn btn-primary">Ir</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">Gerenciamento Enxuto</h5>
        <p class="card-text">Aqui a foco é na obra, onde será possível definir uma equipe padrão para o projeto, levando em consideração os custos diários totais da equipe, sendo possível ajustar a equipe de acordo com a necessidade. Nesta opção o cálculo do custo é diário, e os custos do projetista e do gestor são totalizados, sem a necessidade de informar o tempo de execução de cada atividade.</p>
        <a href="/projeto/projetotarefa" class="btn btn-primary">Ir</a>
      </div>
    </div>
  </div>
</div>
</div>