<div style="width: 300px; height: 50px;margin-left: 500px;margin-top:100px;">
    <div class="card">
        <div class="card-body">
            <h6 class='text-center'>Login </h6>
            <form action="/usuario/login" method="post">
                <label class='col-form-label col-form-label-sm' for="email">Usuario: </label>
                <input name="usuario" class="form-control form-control-sm">
                <label class='col-form-label col-form-label-sm' for="senha">Senha: </label>
                <input type="password" name="senha" class="form-control form-control-sm">
                <br><button type="submit" class="btn btn-success mx-auto col-12"> Entrar</button>
            </form>
        </div>
    </div>
</div>